
<%= errors_for @potential_client %>

<%= form_for @potential_client do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :marketing_agent_name %>
    <%= f.text_field :marketing_agent_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :decision %>
    <%= f.select :decision, ['Accepter', 'En attente', 'Refus'], {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :time_spent %>
    <%= f.text_field :time_spent, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.fields_for :address do |ff| %>
      <%= render partial:'partials/address_form', locals:{f: ff} %>
    <% end %>
  </div>

  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

<% end %>
