<%= errors_for @path %>

<% remote ||= false %>

<%= form_for @path, remote: remote  do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name',  class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :branch_id %>
        <%= f.select :branch_id, Branch.all.collect {|p| [p.name,p.id]}, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :path_type %>
        <%= f.select :path_type, Path::PATH_TYPES, {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, class: 'form-control', data:{ provide: 'datepicker' } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :mode %>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <% Path::MODES.each do |mode| %>
            <%= f.label :mode, class: "btn btn-primary" do %>
              <%= f.radio_button :mode, mode %><%= "<i class='fa fa-#{mode.downcase}'></i>".html_safe %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-offset-1 col-sm-10">
      <h4>Selected clients <small>(<%= link_to "Add client", new_client_path %>)</small></h4>

      <div class="list-group" data-provide="scrollable">
        <%= f.collection_check_boxes :client_ids, Client.all, :id, :name do |b| %>
          <%= render partial:"clients/list_item", locals: { buidler: b } %>
        <% end %>
      </div>

    </div>

  </div>


  <div class="row">

    <div class="col-sm-offset-1 col-sm-10">
      <h4>Selected potential clients <small>(<%= link_to "Add potential client", new_potential_client_path %>)</small></h4>

      <div class="list-group" data-provide="scrollable">
        <%= f.collection_check_boxes :potential_client_ids, PotentialClient.all, :id, :name do |b| %>
          <%= render partial:"clients/list_item", locals: { buidler: b } %>
        <% end %>
      </div>

    </div>

  </div>



  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

<% end %>
