<%= errors_for @path %>


<%= form_for @path do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name',  class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :branch_id %>
        <%= f.select :branch_id, Branch.all.collect {|p| [p.name,p.id]}, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :path_type %>
        <%= f.select :path_type, ['delivery', 'marketing'], {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, class: 'form-control', data:{ provide: 'datepicker' } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :mode %>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <% Path::MODES.each do |mode| %>
            <%= f.label :mode, class: "btn btn-primary" do %>
              <%= f.radio_button :mode, mode %><%= "<i class='fa fa-#{mode}'></i>".html_safe %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-offset-1 col-sm-10">
    <h4>Clients to the path <small>(<%= link_to "Add client", new_client_path %>)</small></h4>





    <div class="list-group" data-provide="scrollable">

      <%= f.collection_check_boxes :client_ids, Client.all, :id, :name do |b| %>

        <a class="list-group-item" data-toggle="checkbox">
          <span class="pull-right">
            <%= b.check_box %>
          </span>

          <h4 class="list-group-item-heading">
              <%= b.object.name %>
          </h4>
          <div class="list-group-item-text">
            <i><%= b.object.description %></i>
            <% if b.object.address %>
              <%= render partial: "partials/address", locals: { address: b.object.address } %>
            <% end %>
          </div>

        </a>

      <% end %>

    </div>

    </div>

  </div>




  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

<% end %>
