<%= errors_for @path %>


<%= form_for @path do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name',  class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :branch_id %>
        <%= f.select :branch_id, Branch.all.collect {|p| [p.name,p.id]}, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :path_type %>
        <%= f.select :path_type, ['delivery', 'marketing'], {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :date, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <% %w(car bus bicycle male).each do |id| %>
            <%= f.label :mode, class: "btn btn-primary" do %>
              <%= f.radio_button :mode, id %><i class="fa fa-<%= id %>"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-offset-1 col-sm-10">
    <h4>Clients to the path <small>(<%= link_to "Add client", new_client_path %>)</small></h4>


    <div class="list-group">
      <% Client.all.each do |client| %>
        <%= render partial: "clients/list_item", locals: { client: client } %>
      <% end %>
    </div>

    </div>

  </div>




  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

<% end %>
