<%= errors_for @path %>


<%= form_for @path do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name',  class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :branch_id %>
        <%= f.select :branch_id, Branch.all.collect {|p| [p.name,p.id]}, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :path_type %>
        <%= f.select :path_type, ['delivery', 'marketing'], {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :date, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <%= f.radio_button :mode, 'car' %><i class="fa fa-car"></i>
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :mode, 'bus' %><i class="fa fa-bus"></i>
          </label>

          <label class="btn btn-primary">
            <%= f.radio_button :mode, 'bicycle' %><i class="fa fa-bicycle"></i>
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :mode, 'male' %><i class="fa fa-male"></i>
          </label>
        </div>
      </div>
    </div>
  </div>



  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

<% end %>
