
<%= panel_for title: 'My paths', size: 12 do %>
  <div class="panel-body">

    <% if @paths.length > 0 %>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th># Waypoints</th>
          <th># Clients</th>
          <th>Actions</th>
        </tr>
        <% @paths.each do |path| %>
        <tr>
          <td><%= path.name %></td>
          <td><%= path.path_type %></td>
          <td><%= path.waypoints.length %></td>
          <td><%= path.clients.length %></td>
          <td>
            <%= glyph_to :check, path %>
            <%= glyph_to :edit, edit_path_path(path) %>
            <%= glyph_to :remove_circle, path, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>

    <% if @paths.length == 0 %>
      <p>No paths... please click on the button below to create a new path.</p>
    <% end %>

  </div>

  <div class="panel-footer text-right">
    <%= link_to 'Add new', new_path_path, class:'btn btn-primary' %>
  </div>
<% end %>
