
<% content_for :navbar_left do %>
  <li><a data-toggle="collapse" data-target="#path-details"><i class="fa fa-map-marker"></i> <%= @path.name %></a></li>
  <li><button class="btn btn-default navbar-btn" id="bob"><i class="glyphicon glyphicon-road"></i></button></li>
  <li><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#directionsModal"><i class="glyphicon glyphicon-list-alt"></i></button></li>
<% end %>

<div id="path-details" class="collapse">
  <div data-provide="scrollable" style="padding:5px;">
    <%= render 'form' %>
  </div>
</div>

<div id="map"></div>

<%= content_for :scripts do %>
<script type="text/javascript">

  var map, mapOption, infoWindow, directionsService, directionsDisplay;
  var clients = [],
      potential_clients = [];

  function initialize() {

    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    infoWindow        = new google.maps.InfoWindow();

    // Bind print button
    $("#btnPrint").click(print_path);

    // Initialize the default map options hash
    mapOptions = {
      center: new google.maps.LatLng(45.536482, -73.592702),
      zoom: 8
    };

    // Create the map
    map = new google.maps.Map($("#map")[0], mapOptions);

    // Configure direction panel
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel($("#directionsPanel")[0]);

    // Load data
    loadMarkers();
  }

  function loadMarkers(){
    $.getJSON("clients.json", function(data){
      addMarkers(data);
    });

    $.getJSON("potential_clients.json", function(data){
      addMarkers(data);
    });
  }

  function addMarkers(addressables) {
    $.each(addressables, function(index, el){
      clientLatLng = new google.maps.LatLng(el.address.latitude, el.address.longitude)
      clients.push(clientLatLng);

      var marker = addMarker(clientLatLng);

      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.open(map,marker);
        $.ajax({
          type: 'GET',
          url: '/clients/' + el.id,
          dataType : 'script'
        });
      });
    });
  }

  function addMarker(position){
    return new google.maps.Marker({
      map: map,
      animation: google.maps.Animation.DROP,
      position: position
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  $("#bob").click(function(){
    var start = new google.maps.LatLng(<%= @path.branch.address.latitude %>, <%= @path.branch.address.longitude %>)
    var end = new google.maps.LatLng(<%= @path.branch.address.latitude %>, <%= @path.branch.address.longitude %>)

    console.log(start)
    console.log(end)
    var waypoints = []
    $.each(clients.slice(0, 6), function(i, el){
      waypoints.push({
        location: el.toString(),
        stopover:true
      });
    });
    var request = {
      origin: start,
      destination: end,
      travelMode: google.maps.TravelMode.DRIVING,
      waypoints: waypoints,
      optimizeWaypoints: true
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  });

  function print_path() {
      window.print();
  }

</script>
<% end %>

<%= render partial: 'partials/directions_modal' %>
