
<% content_for :navbar_left do %>
  <li><a data-toggle="collapse" data-target="#path-details"><i class="fa fa-map-marker"></i> <%= @path.name %></a></li>
  <li>
    <div class="btn-group">
      <%= icon_to 'glyphicon glyphicon-stats', reports_path_path(@path), '', class: "btn btn-default navbar-btn" %>
      <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#directionsModal"><i class="glyphicon glyphicon-list-alt"></i></button>
    </div>
  </li>
<% end %>

<div id="path-details" class="collapse">
  <div data-provide="scrollable" style="padding:5px;">
    <%= render 'form' %>
  </div>
</div>

<div id="map"></div>

<%= content_for :scripts do %>
<script type="text/javascript">

  var map, mapOption, infoWindow, directionsService, directionsDisplay;

  var start_id = <%= @path.branch.id %>;
  var start = new google.maps.LatLng(<%= @path.branch.address.latitude %>, <%= @path.branch.address.longitude %>);

  var mode = "<%= @path.mode %>";
  var path_type = "<%= @path.path_type %>";

  var RED_MARKER = {
    url: "<%= asset_path('spotlight_red.png') %>",
    scaledSize: new google.maps.Size(18, 32)
  },
  BLUE_MARKER = {
    url: "<%= asset_path('spotlight_blue.png') %>",
    scaledSize: new google.maps.Size(18, 32)
  },
  GREEN_MARKER = {
    url: "<%= asset_path('spotlight_green.png') %>",
    scaledSize: new google.maps.Size(18, 32)
  };


  function initialize() {

    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    infoWindow        = new google.maps.InfoWindow();

    // Initialize the default map options hash
    mapOptions = {
      center: new google.maps.LatLng(45.536482, -73.592702),
      zoom: 8
    };

    // Create the map
    map = new google.maps.Map($("#map")[0], mapOptions);

    // Configure direction panel
    directionsDisplay.setMap(map);
    directionsDisplay.setOptions({ suppressMarkers: true });
    directionsDisplay.setPanel($("#directionsPanel")[0]);

    // Load data
    loadMarkers();
  }

  function loadMarkers(){
    var clients = [];
    var potential_clients = [];

    addMarker(start_id, start, {
      markerImage: GREEN_MARKER,
      url: function(id) { return '/branches/' + id; }
    });

    $.when(
      $.getJSON("clients.json", function(data){
        addMarkers(clients, data, {
          markerImage: RED_MARKER,
          url: function(id) { return '/clients/' + id; }
        });
      }),

      $.getJSON("potential_clients.json", function(data){
        addMarkers(potential_clients, data, {
          markerImage: BLUE_MARKER,
          url: function(id) { return '/potential_clients/' + id; }
        });
      })
    ).done(function(){
      if(path_type === "delivery")
        calcRoute(clients);
      else if(path_type === "marketing")
        calcRoute(potential_clients);
    });
  }

  function addMarkers(container, addressables, options) {
    $.each(addressables, function(index, el){
      var position = new google.maps.LatLng(el.address.latitude, el.address.longitude);

      container.push(position);

      addMarker(el.id, position, options);
    });
  }

  function addMarker(id, position, options){
    options = $.extend({
      markerImage : RED_MARKER,
      url: function(id){
        return '/clients/' + id
      }
    }, options ||  {});

    var marker = new google.maps.Marker({
      map: map,
      animation: google.maps.Animation.DROP,
      position: position,
      icon: options.markerImage
    });

    google.maps.event.addListener(marker, 'click', function() {
      infoWindow.open(map,marker);
      $.ajax({
        type: 'GET',
        url: options.url(id),
        dataType : 'script'
      });
    });
    return marker;
  }

  function calcRoute(points){

    var waypoints = []
    $.each(points, function(i, el){
      waypoints.push({
        location: el.toString(),
        stopover:true
      });
    });
    var request = {
      origin: start,
      destination: start,
      travelMode: google.maps.TravelMode[mode],
      waypoints: waypoints,
      optimizeWaypoints: true
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }


  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<% end %>

<%= render partial: 'partials/directions_modal' %>
