
<%= errors_for @client %>

<div class="row">
  <div class="col-sm-12">

    <%= form_for @client do |f| %>

        <div class="form-group">
          <%= f.text_field :name, placeholder: "Client name",  class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "Description", class: "form-control short-description" %>
        </div>
          <!-- TODO: Render partial address -->
          <%#= f.text_field :address, placeholder: "Address",  class: "form-control" %>
        <div class="form-group">
          <%= f.text_field :delivery_item, placeholder: "Delivery item", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :estimated_delivery_time, placeholder: "Estimated delivery time",  class: "form-control short-input" %>&nbsp;minutes
        </div>


        <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

    <% end %>

  </div>
</div>
