
<%= panel_for title: 'My clients', size: 12 do %>
  <div class="panel-body">

    <% if @clients.length > 0 %>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Address</th>
          <th>Estimated Delivery Time</th>
          <th>Delivery Item</th>
          <th>Actions</th>
        </tr>
        <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.description %></td>
          <td><%= render client.address %></td>
          <td><%= client.estimated_delivery_time %></td>
          <td><%= client.delivery_item %></td>
          <td>
            <%= icon_to 'glyphicon glyphicon-check', client %>
            <%= icon_to 'glyphicon glyphicon-edit', edit_client_path(client) %>
            <%= icon_to 'glyphicon glyphicon-remove-circle', client, '', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="text-center">
        <%= paginate @clients %>
      </div>

    <% end %>

    <% if @clients.length == 0 %>
      <p>No clients... please click on the button below to create a new client.</p>
    <% end %>

  </div>

  <div class="panel-footer text-right">
    <%= link_to 'Add new', new_client_path, class: 'btn btn-primary' %>
  </div>
<% end %>
