
<%= panel_for title: 'Clients', size: 12 do %>
  <div class="panel-body">

    <% if @clients.length > 0 %>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Estimated Delivery Time</th>
          <th>Delivery Item</th>
          <th>Actions</th>
        </tr>
        <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= render client.address %></td>
          <td><%= "#{client.estimated_delivery_time} min(s)" %></td>
          <td><%= client.delivery_item || "N/A" %></td>
          <td class="text-center">
            <div class="btn-group">
              <%= icon_to 'glyphicon glyphicon-edit', edit_client_path(client), '', class: 'btn btn-warning' %>
              <%= icon_to 'glyphicon glyphicon-remove-circle', client, '', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="text-center">
        <%= paginate @clients %>
      </div>

    <% end %>

    <% if @clients.length == 0 %>
      <p>No clients... please click on the button below to create a new client.</p>
    <% end %>

  </div>

  <div class="panel-footer text-right">
    <%= link_to 'Add new', new_client_path, class: 'btn btn-primary' %>
  </div>
<% end %>
